In [1]:
import numpy as np
import pandas as pd

In [14]:
#st1=pd.read_csv('train_table_client_0_1501392.csv')
st1.shape

(1501393, 118)

In [15]:
#st2=pd.read_csv('train_table_client_1501393_1999999.csv')
st2.shape

(498607, 118)

In [16]:
full_train_client=st1.append(st2, ignore_index=True)
full_train_client.shape

(2000000, 118)

In [17]:
st3=pd.read_csv('train_table_client_2000000_2499999.csv')
st3.shape

(500000, 118)

In [18]:
st4=pd.read_csv('tain_client_2500000_2999999.csv')
st4.shape

(500000, 118)

In [19]:
full_train_client=full_train_client.append(st3, ignore_index=True)
full_train_client=full_train_client.append(st4, ignore_index=True)
full_train_client.shape

(3000000, 118)

In [23]:
full_train_client.to_csv('full_train_client.csv')

In [42]:
#full_clients=pd.read_csv('train.csv')
#full_clients.drop('Unnamed: 0', axis=1, inplace=True)
#full_clients.head()
full_clients.iloc[[3199992,3199993,3199994,3199995,3199996,3199997,3199998,3199999]]

,Unnamed: 0,client_pin,month,weekofyear,day,hour,multi_class_target
3199992,3199992,c4d300215eb96a550f37cc3119b4a3ab,1,1,4,13,card2card_transfer
3199993,3199993,16101bba83dd0bff692a23d8ee6346a6,7,29,18,14,main_screen
3199994,3199994,2b476ee1a3ac4ae53a0d8d127c15d670,3,11,14,8,main_screen
3199995,3199995,5b7c567342b6e2c4402775bc2124a7f3,1,3,17,17,main_screen
3199996,3199996,8c3fdfca04a8eb350e10d01df93c55ad,1,5,28,20,main_screen
3199997,3199997,28c855ef3b469a25f90754e3e9f4fd8c,6,27,29,11,main_screen
3199998,3199998,11e5b3fc0af95e18a2a865edc75abb7e,8,33,12,12,card_recharge
3199999,3199999,6f3f391c83562a701cf154ceee53ea4b,4,17,26,16,main_screen

In [55]:
obraz=pd.read_csv('train.csv')
full_clients=pd.read_csv('full_client.csv',index_col = 0)

In [56]:
st5_6=pd.DataFrame()
#for index in obraz.index[3199994:3199999]:
elem=obraz.loc[3199999,'client_pin']
st5_6=st5_6.append(full_clients.loc[str(elem)])
#    if index%100000==0: print(time.ctime(),'\n',train_table_client.shape,'\n',train_table_client.head())
st5_6.to_csv('st5_6.csv')

In [58]:
#st5=pd.read_csv('train_table_client_3000000_3199999.csv')
#st56=pd.read_csv('st5_6.csv')
#st5=st5.append(st56, ignore_index=True)
st5.shape

(200000, 118)

In [21]:
st6=pd.read_csv('train_table_client_3200000_3499999.csv')
st6.shape

(300000, 118)

In [59]:
st7=pd.read_csv('train_table_client_3500000_3800179.csv')
st7.shape

(300180, 118)

In [60]:
st8=pd.read_csv('train_table_client_3800180_4100000.csv')
st8.shape

(299820, 118)

In [61]:
full_train_client=full_train_client.append(st5, ignore_index=True)
full_train_client=full_train_client.append(st6, ignore_index=True)
full_train_client=full_train_client.append(st7, ignore_index=True)
full_train_client=full_train_client.append(st8, ignore_index=True)
full_train_client.shape

(4100000, 118)

In [62]:
full_train_client.to_csv('full_train_client_0_4100000.csv')

In [63]:
full_train_client.head()

,Unnamed: 0,0,0.1,1,1.1,10,10.1,11,11.1,12,...,9.1,90,91,92,93,94,95,96,97,98
0,7cf9221322a0e2fdefb1b998b8f2ab29,0.0,1743.0,0.0,954.0,176.0,1128.0,1261.0,1234.0,974.0,...,1386.0,0.0,2651.0,0.0,1705.0,2647.0,2.0,2.0,944.0,915.0
1,5f16c0ab27a806fd08db3122921adf3a,0.0,943.0,0.0,774.0,15.0,726.0,948.0,638.0,558.0,...,982.0,0.0,1726.0,0.0,671.0,1557.0,15.0,12.0,1040.0,976.0
2,ec868fc2b388293cf10e18ee9518d72f,0.0,1099.0,0.0,760.0,137.0,882.0,364.0,569.0,340.0,...,645.0,0.0,1614.0,0.0,1331.0,1614.0,2.0,3.0,281.0,267.0
3,91f55a33d7502c1a1fa5da7ff2f7b648,0.0,2528.0,0.0,1332.0,97.0,2116.0,1846.0,2249.0,1150.0,...,2312.0,3665.0,0.0,2644.0,3664.0,20.0,0.0,34.0,1001.0,847.0
4,3ef1020bda95ce7836d2680fa553ecb7,6.0,153.0,0.0,151.0,15.0,126.0,125.0,153.0,59.0,...,161.0,1.0,279.0,1.0,39.0,279.0,0.0,2.0,240.0,238.0

In [77]:
full_train_clientg=pd.read_csv('full_train_client_0_4100000.csv')
full_train_clientg.drop('Unnamed: 0', axis=1, inplace=True)
full_train_clientg.head()

,Unnamed: 0.1,0,0.1,1,1.1,10,10.1,11,11.1,12,...,9.1,90,91,92,93,94,95,96,97,98
0,7cf9221322a0e2fdefb1b998b8f2ab29,0.0,1743.0,0.0,954.0,176.0,1128.0,1261.0,1234.0,974.0,...,1386.0,0.0,2651.0,0.0,1705.0,2647.0,2.0,2.0,944.0,915.0
1,5f16c0ab27a806fd08db3122921adf3a,0.0,943.0,0.0,774.0,15.0,726.0,948.0,638.0,558.0,...,982.0,0.0,1726.0,0.0,671.0,1557.0,15.0,12.0,1040.0,976.0
2,ec868fc2b388293cf10e18ee9518d72f,0.0,1099.0,0.0,760.0,137.0,882.0,364.0,569.0,340.0,...,645.0,0.0,1614.0,0.0,1331.0,1614.0,2.0,3.0,281.0,267.0
3,91f55a33d7502c1a1fa5da7ff2f7b648,0.0,2528.0,0.0,1332.0,97.0,2116.0,1846.0,2249.0,1150.0,...,2312.0,3665.0,0.0,2644.0,3664.0,20.0,0.0,34.0,1001.0,847.0
4,3ef1020bda95ce7836d2680fa553ecb7,6.0,153.0,0.0,151.0,15.0,126.0,125.0,153.0,59.0,...,161.0,1.0,279.0,1.0,39.0,279.0,0.0,2.0,240.0,238.0

In [79]:
full_train_clientg=full_train_clientg.rename(columns={'Unnamed: 0.1': 'Unnamed: 0'})
full_train_clientg.head()

,Unnamed: 0,0,0.1,1,1.1,10,10.1,11,11.1,12,...,9.1,90,91,92,93,94,95,96,97,98
0,7cf9221322a0e2fdefb1b998b8f2ab29,0.0,1743.0,0.0,954.0,176.0,1128.0,1261.0,1234.0,974.0,...,1386.0,0.0,2651.0,0.0,1705.0,2647.0,2.0,2.0,944.0,915.0
1,5f16c0ab27a806fd08db3122921adf3a,0.0,943.0,0.0,774.0,15.0,726.0,948.0,638.0,558.0,...,982.0,0.0,1726.0,0.0,671.0,1557.0,15.0,12.0,1040.0,976.0
2,ec868fc2b388293cf10e18ee9518d72f,0.0,1099.0,0.0,760.0,137.0,882.0,364.0,569.0,340.0,...,645.0,0.0,1614.0,0.0,1331.0,1614.0,2.0,3.0,281.0,267.0
3,91f55a33d7502c1a1fa5da7ff2f7b648,0.0,2528.0,0.0,1332.0,97.0,2116.0,1846.0,2249.0,1150.0,...,2312.0,3665.0,0.0,2644.0,3664.0,20.0,0.0,34.0,1001.0,847.0
4,3ef1020bda95ce7836d2680fa553ecb7,6.0,153.0,0.0,151.0,15.0,126.0,125.0,153.0,59.0,...,161.0,1.0,279.0,1.0,39.0,279.0,0.0,2.0,240.0,238.0